form(ng-submit="search()")
  .form-group
    label Rover
    select.form-control(
      ng-model="filter.rover"
      ng-options="rover.label as rover.label for rover in enums.rovers"
    )
  .form-group
    label Earth Date
    .input-group
      input.form-control(
        ng-model="filter.date"
      )
      span.input-group-btn
        button(type="button" class="btn btn-default" ng-click="datepickerOpen = !datepickerOpen")
          i.fa.fa-calendar
  .form-group
    label Camera
    select.form-control(
      ng-model="filter.camera"
      ng-options="camera.code as camera.label disable when !hasCamera(filter.rover, camera) for camera in enums.cameras"
    )
  .form-group
    button.btn.btn-primary(type="submit") Search
