form(ng-submit="search()")
  .form-group
    label Rover
    select.form-control(
      ng-model="filter.rover"
      ng-options="rover.label as rover.label for rover in enums.rovers"
      ng-change="updateManifest()"
    )
  .form-group
    label Earth Date
      small(ng-if="manifests[filter.rover]")
        em  ({{ manifests[filter.rover].landing_date }} -
        em  {{ manifests[filter.rover].max_date }})
    .input-group
      input.form-control(
        ng-model="filter.date"
        uib-datepicker-popup="yyyy-MM-d"
        datepicker-options="dateOptions"
        is-open="datepickerOpen"
        ng-click="datepickerOpen = true"
      )
      span.input-group-btn
        button(type="button" class="btn btn-default" ng-click="datepickerOpen = !datepickerOpen")
          i.fa.fa-calendar
  .form-group
    label Camera
    select.form-control(
      ng-model="filter.camera"
      ng-options="camera.code as camera.label disable when !hasCamera(filter.rover, camera) for camera in enums.cameras"
    )
  .form-group.clearfix
    button.btn.btn-primary.pull-right(type="submit")
      | Search &nbsp;
      i.fa.fa-search
