form(ng-submit="search()")
  .form-group
    label Rover
    select.form-control(
      ng-model="filter.rover"
      ng-options="rover.label as rover.label for rover in enums.rovers"
    )
  .form-group
    label Earth Date
    input.form-control(
      ng-model="filter.date"
      uib-datepicker
    )
  .form-group
    label Camera
    select.form-control(
      ng-model="filter.camera"
      ng-options="camera.code as camera.label for camera in enums.cameras"
    )
  .form-group
    button.btn(type="submit") Search
