form(ng-submit="search()")
  .form-group
    label Rover
    select.form-control(
      ng-model="filter.rover"
      ng-options="rover.label as rover.label for rover in enums.rovers"
      ng-change="updateManifest()"
    )
  .form-group
    //- label Search By
    .input-group
      label.radio-inline
        input(
          type="radio"
          name="searchBy"
          value="Earth Date"
          ng-model="searchBy"
        )
        |  Earth Date
      label.radio-inline
        input(
          type="radio"
          name="searchBy"
          value="Martian Sol"
          ng-model="searchBy"
        )
        |  Martian Sol
  .form-group(ng-if="searchBy === 'Martian Sol'")
    //- label Martian Sol
    select.form-control(
      ng-model="filter.sol"
      ng-options="item.sol as item.sol + ' (' + item.total_photos + ' photos)' for item in manifests[filter.rover].photos"
    )
  .form-group(ng-if="searchBy !== 'Martian Sol'")
    //- label Earth Date
      small(ng-if="manifests[filter.rover]")
        em  ({{ manifests[filter.rover].landing_date }} -
        em  {{ manifests[filter.rover].max_date }})
    .input-group
      input.form-control(
        ng-model="filter.date"
        uib-datepicker-popup="yyyy-MM-d"
        datepicker-options="dateOptions"
        is-open="datepickerOpen"
        ng-click="datepickerOpen = true"
      )
      span.input-group-btn
        button(type="button" class="btn btn-default" ng-click="datepickerOpen = !datepickerOpen")
          i.fa.fa-calendar
  .form-group
    label Camera
    select.form-control(
      ng-model="filter.camera"
      ng-options="camera.code as camera.label disable when !hasCamera(filter.rover, camera) for camera in enums.cameras"
    )
  .form-group.clearfix
    button.btn.btn-primary.pull-right(type="submit" ng-class="{disabled: loading}")
      | Search &nbsp;
      i.fa.fa-search
