doctype html
html(lang="en" ng-app="lens-ui-code-test")
  head
    title Mars Rover Image Viewer
    link(link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    script(src="bundle.js")
  body
    .container
      .row
        .col-md-12
          h1 Mars Rover Image Viewer
      .row
        .col-md-4
          .filters
            form(ng-submit="search()")
              select.form-control(
                ng-model="filter.rover"
                ng-options="rover for rover in enums.rovers"
              )
              input.form-control(
                ng-model="filter.date"
                uib-datepicker
              )
              select.form-control(
                ng-model="filter.camera"
                ng-options="camera.code as camera.label for camera in enums.cameras"
              )
              button.btn(type="submit") Search

        .col-md-8
          .results

            div(ng-if="loading") Loading...

            div(ng-repeat="item in photos")
              img.img-responsive(ng-src="{{item.img_src}}")
              pre.well {{ item | json }}

          .collected-images
